fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
httpx
email-validator
Pillow
pytesseract
pdfplumber
aiofiles
python-dateutil
openpyxl
